.index-main {
    display: flex;
    justify-content: center;
}

.index-main__loginForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-main__loginForm h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

.loginInput {
    height: 45px;
    font-size: 20px;
    border: 2px solid var(--main-border);
    padding-left: 10px;
}

.loginInput:focus {
    border-color: var(--main-color);
}

.index-main__loginForm > button {
    height: 50px;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.index-main__loginForm > button:hover {
    opacity: 0.7;
}

.index-main__loginBtn {
    background-color: var(--main-color);
    color: white;
}



