@import "reset.css";
@import "variable.css";
@import "component/header.css";
@import "component/footer.css";
@import "component/button.css";
@import "component/input.css";
@import "screen/index.css";
@import "screen/join.css";
@import "screen/findIDPW.css";
@import "screen/student_main.css";
@import "screen/registerLecture.css";
@import "screen/community.css";

@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-family: "main-font";
}

body {
    color: #2e363e;
    font-family: "main-font";
    overflow: scroll;
    height: 1000px;
}

main{
    margin: 170px 150px 100px 150px;
}