.community-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community-main h2 {
    font-size: 30px;
    margin-bottom: 60px;
}

.community-main table {
    width: 80%;
    margin-bottom: 100px;
}

.community-main table th {
    font-weight: 600;
    padding: 5px;
    border-top: 2px solid var(--main-color);
}

.community-main table td {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(176, 176, 176);
    border-top: 1px solid rgb(176, 176, 176);
}

.community-main table td:nth-child(1), 
.community-main table td:nth-child(2) {
    font-weight: 600;
}

.community-main table #num {
    width: 7%;
}

.community-main table #subject {
    width: 60%;
}

.community-main table td:nth-child(3), 
.community-main table td:nth-child(4),
.community-main table td:nth-child(5) {
    opacity: 0.7;
    font-size: 14px;
}

.community-main table tr:not(tr:nth-child(1)) {
    cursor: pointer;
}

.community-main table tr:not(tr:nth-child(1)):hover {
    background-color: var(--main-border);
}

.community-main__pageNav ul{
    display: flex;
    justify-content: center;
}

.community-main__pageNav li {
    cursor: pointer;
    margin: 0px 4px;
    border: 2px solid var(--main-border);
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-radius: 11px;
}

.community-main__pageNav li:hover {
    border-color: var(--main-color);
}

.community-main__pageNav #previousBtn,
.community-main__pageNav #nextBtn {
    width: 80px;
    background-color: var(--main-border);
}

.community-main__pageNav #previousBtn:hover,
.community-main__pageNav #nextBtn:hover {
    opacity: 0.7;
}