.title-logo {
    border: none;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

.title-logo h1 {
    font-size: 40px;
    color: white;
}

.index-main {
    display: flex;
    justify-content: center;
}

.index-main__loginForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-main__loginForm h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

.loginInput {
    height: 45px;
    font-size: 20px;
    border: 2px solid var(--main-border);
    padding-left: 10px;
    margin-bottom: 5px;
}

.loginInput:focus {
    border-color: var(--main-color);
}

.index-main__loginForm > button {
    height: 50px;
    margin-top: 10px;
}



