.header__btn:nth-child(1) {
    font-weight: 600;
    color: var(--main-color);
}

.student-main {
    display: flex;
    justify-content: center;
}

.student-main__lecture-list {
    width: 65%;
}

.student-main__lecture-list h2 {
    font-size: 30px;
    margin-bottom: 60px;
}

.student-main__lectureDiv {
    background-color: var(--main-border);
    height: 120px;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.student-main__lectureDiv:hover {
    box-shadow: 1.5px 1.5px 3px rgb(164, 164, 164);
    border: 2px solid var(--main-color);
}

.student-main__lectureDiv div {
    display: flex;
    justify-content: space-between;
}

.student-main__title {
    font-size: 27px;
    font-weight: 500;
}

