<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project LMS - 로그인</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
<!-- <header>
    <a class="header__logo" href="index.html">Project LMS</a>
    <div class="header__nav">
        <div class="header__btn" onclick="location.href='student_main.html'">강의목록</div>
        <div class="header__btn" onclick="location.href='registerLecture.html'">수강신청</div>
        <div class="header__btn" onclick="location.href='community.html'">커뮤니티</div>
        <div class="header__btn" onclick="location.href='QnA.html'">고객센터</div>
    </div>
</header> -->
<header class="title-logo">
    <h1>Project LMS</h1>
</header>

<main class="index-main">
    <form class="index-main__loginForm"action="/login" method="post">
        <h2>로그인</h2>
        <input class="loginInput" type="text" name="id" placeholder="아이디를 입력하세요">
        <input class="loginInput" type="password" name="pwd" placeholder="비밀번호를 입력하세요">
        <div class="index-main__saveID">
            <input type="checkbox"> 아이디 저장
        </div>

        <button class="index-main__loginBtn mainBtn" type="submit" onclick="location.href='student_main.html'">로그인</button>
        <button class="index-main__joinBtn" type="button" onclick="location.href='join.html'">회원가입</button>
        <button class="index-main__findBtn" type="button" onclick="location.href='findIDPW.html'">아이디/비밀번호 찾기</button>
    </form>
</main>

<footer>

</footer>

</body>
</html>