<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/static/css/registerLecture.css">
  <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body>
<header>
  <h1>Project LMS</h1>
</header>

<div id="mainDiv">
    <h1>수강신청</h1>

    <div id="lectureList">
        <ul>
            <li>
                <table>
                    <tr>
                        <td>강의명</td>
                        <td>C언어</td>
                    </tr>
                    <tr>
                        <td>강사</td>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <td>강의 내용</td>
                        <td>c언어~~~~~~~~~~</td>
                    </tr>
                </table>
                <button type="button">신청하기</button>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </div>
</div>
</body>
</html>