<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student_main.css">
</head>
<body>

<div id="mainDiv">
    <div id="div1">
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JAVASCRIPT</li>
            <li>C언어</li>
        </ul>
        <button type="button">강의 바로가기 ></button>
    </div>
    <div id="div2">
        <button class="menuBtn" type="button">수강신청</button>
    </div>
    <div id="div3">
        <button class="menuBtn" type="button">커뮤니티</button>
    </div>
    <div id="div4">
        <button class="menuBtn" type="button">고객센터</button>
    </div>
</div>

</body>
</html>