<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
<header>
    <div class="header__topBar">
        <a class="header__topBtn" href="index.html">로그아웃</a>
        <a class="header__topBtn" href="student_mypage.html">마이페이지</a>
    </div>
    <div class="header__navBar">
        <a class="header__logo" href="index.html">Project LMS</a>
        <div class="header__nav">
            <div class="header__btn" onclick="location.href='student_main.html'">강의목록</div>
            <div class="header__btn" onclick="location.href='registerLecture.html'">수강신청</div>
            <div class="header__btn" onclick="location.href='community.html'">커뮤니티</div>
            <div class="header__btn" onclick="location.href='QnA.html'">고객센터</div>
        </div>
    </div>
</header>

<main class="student-main">
    <div class="student-main__lecture-list">
        <h2>수강중인 강의 목록</h2>
        <div class="student-main__lectureDiv">
            <div>
                <h3 class="student-main__title">자료구조</h3>
                <span class="student-main__lectureCode">no.1601</span>
            </div>
            <span class="student-main__teacher">홍길동</span>
        </div>
        <div class="student-main__lectureDiv">
            <div>
                <h3 class="student-main__title">네트워크 보안과 블록체인</h3>
                <span class="student-main__lectureCode">no.1602</span>
            </div>
            <span class="student-main__teacher">김영희</span>
        </div>
        <div class="student-main__lectureDiv">
            <div>
                <h3 class="student-main__title">데이터베이스</h3>
                <span class="student-main__lectureCode">no.1603</span>
            </div>
            <span class="student-main__teacher">김민수</span>
        </div>
        <div class="student-main__lectureDiv">
            <div>
                <h3 class="student-main__title">마이크로프로세서 및 실험</h3>
                <span class="student-main__lectureCode">no.1604</span>
            </div>
            <span class="student-main__teacher">홍길순</span>
        </div>
    </div>
</main>

<footer>

</footer>
</body>
</html>